//
// Content
//

#content {
	//
	// Default post/page
	//
	.post,
	.page {
		margin-bottom: 2em;

		// Header area
		header.entry-header {
			.entry-title {
				@extend .h1;
			}
			.entry-meta {
				@extend .lead;

				.entry-date {}
				.entry-byline {}
				.entry-author {}
			}
		}

		// Excerpt area
		.entry-excerpt {
			@extend .lead;
		}

		// Content area
		.entry-content {
			font-size: $font-size-lg;
			padding-top: .5em;
			padding-bottom: 1.5em;
		}

		// Footer area
		.entry-footer {

			.cat-links {}
			.tag-links {}
			.comments-link {}
		}
	}

	//
	// Sticky post
	//
	.post.sticky {
		header.entry-header {
			.entry-title {
				&::after { content: " \2014 "; } // 1x long dash (brajeshwar.github.io/entities)
			}
		}
	}
}

//
// Single Content
//
body.single #content {
	.post {}
}
