//
// Theme Style
//

/// --------------------------------------------------------------
// Import functions before variables to fix compilation issues
// --------------------------------------------------------------
@import "../../node_modules/bootstrap/scss/functions";
@import "settings/variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

// --------------------------------------------------------------
// Tools, Variables and Mixins
// --------------------------------------------------------------
@import "settings/mixins";
@import "settings/fonts";

// --------------------------------------------------------------
// Reset and Dependencies
// --------------------------------------------------------------

// --------------------------------------------------------------
// CSS and Components
// --------------------------------------------------------------
@import "shared/base";
@import "shared/wordpress";
@import "shared/forms";
@import "shared/pagination";

// --------------------------------------------------------------
// Layout
// --------------------------------------------------------------
@import "shared/navigation-skiplink";
@import "shared/header-branding";
@import "shared/header-image";
@import "shared/navigation-top";
@import "shared/wrapper";
@import "shared/content";
@import "shared/sidebar";
@import "shared/footer";
@import "shared/animation";

// --------------------------------------------------------------
// Helpers
// --------------------------------------------------------------
@import "shared/queries";
@import "shared/helpers";
